<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
   
</head>
<body>


        <form  action="/login" class="form1" method="post" id="form1">
            <label for="name"><strong class="size">Name:</strong></label>
        <input  type="text" name="name" class="name" placeholder="Enter Your Name" required><br><br>

        <label for="Reg"><strong class="size">Reg no:</strong></label>
        <input  type="number" name="Reg" class="Register" placeholder="Enter Your Reg_no" required><br><br>

            <label for="third_sem_GPA"><strong>Third_sem_GPA</strong></label><br>
            <input type="text"  name="third_sem_GPA" id="n1" placeholder="Third_sem_GPA" required><br>

            <label for="fourth_sem_GPA"><strong>Fourth_sem_GPA</strong></label><br>
            <input type="text" name="fourth_sem_GPA" id="n2" placeholder="Fourth_sem_GPA" required><br><br>
            <input type="checkbox" name="link" required><label for="link">Please check the options are selected</label>
            <input type="submit" id="button" value="submit" onclick="ok()"><br><br>
            <textarea id="final" name="final"></textarea>
        </form>
      
</html>