<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table border="1" name="/table">
        <tr><td>NAME</td>
        <td>{{name}}</td></tr>
        <tr><td>REG</td>
        <td>{{Reg}}</td></tr>
        <tr><td>third_sem_GPA</td>
        <td>{{third_sem_GPA}}</td></tr>  
        <tr><td>fourth_sem_GPA</td>
        <td>{{fourth_sem_GPA}}</td></tr>
    </table>
   
</body>
</html>