<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
        <tr>
            <td>Name</td>
        <td>{{row["name"]}}</td>
    </tr>

        <tr><td>address</td>
        <td>{{row["addr"]}}</td></tr>
        <tr><td>city</td>
        <td>{{row["city"]}}</td></tr>
        <tr><td>pin</td>
        <td>{{row["pin"]}}</td></tr>
    </table>
    <a href="/">Go back to home page</a>
</body>
</html>